/* @media screen and (max-width: 1156px) {
  .about-me-text {
    margin-right: 50px;
  }
  .photo {
    margin-top: 20px;
  }
}
@media (max-width: 900px) {
  .photo {
    margin-top: 40px;
  } */
/* .slider .slick-btn {
    display: none !important;
  }
  .services__top,
  .news__top {
    display: block;
  }
  .slider__title-box,
  .form__title-box,
  .news__title-box {
    padding-left: 0;
    text-align: center;
    margin: 0 auto 30px;
  }
  .slider__title-box:before,
  .form__title-box:before,
  .news__title-box:before {
    display: none;
  }
  .services__btn,
  .news__btn {
    text-align: center;
  }
  .form__box-inner {
    display: block;
  }
  .form__box-left {
    max-width: 100%;
  }
  .form__box-right {
    max-width: 100%;
  }
  .form__box-inner .jq-selectbox__select {
    margin-bottom: 10px;
  }
  .form {
    padding-bottom: 25px;
  }
  .advantages__inner {
    display: block;
  }
  .advantages-item {
    max-width: 100%;
    margin-bottom: 30px;
  } */
/* }
 @media (max-width: 700px) {
   .header__btn {
    float: none;
  }
  .header__contacts {
    text-align: center;
  }
  .header__btn:before {
    display: none;
  }
  .header-list {
    display: block;
  }
  .header__btn-menu {
    display: block;
  }
  .menu ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 20px;
    z-index: 50;
  }
  .menu li {
    display: block;
    text-align: center;
  }
  .menu a {
    display: block;
    background-color: #ffc222;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .menu li + li {
    padding-left: 0;
  } 

}
@media (max-width: 600px) {
  .services__item {
    max-width: 100%;
    min-height: 375px;
    margin: 30px auto;
  }
}
@media (max-width: 540px) {
  .news__slider {
    padding: 50px 15px 25px 25px;
  }
  .news__slider:before {
    left: 25px;
  }
  .news__slider-inner .slick-next {
    right: -20px;
  }
  .news__slider-inner .slick-prev {
    right: 35px;
  }
  .news__images {
    font: none;
  }
  .news__slider-inner .slick-btn {
    bottom: -90px;
  }
}
@media (max-width: 414px) {
  .slider__title {
    font-size: 24px;
  }
  .slider__text {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .header__btn:before {
    display: block;
  }
  .advantages-item {
    padding: 0;
  }
}
@media (max-width: 375px) {
  .header__email {
    padding-right: 30px;
  }
}

@media (min-width: 700px) {
  .menu ul {
    display: block !important;
  }
}  */
@media (max-width: 1399px) {
  .container {
    width: 100%;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding-left: 95px;
    padding-right: 95px;
  }
  .about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .about-text {
    padding-top: 100px;
  }
  .about-photo {
    margin-right: 0;
  }
}
@media (max-width: 991px) {
  .about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .about-text {
    padding-top: 50px;
  }
  .about-photo {
    margin-left: 40px;
  }
  .footer-link a + a {
    margin-left: 30px;
  }
  .footer-link-text {
    margin-bottom: 50px;
    color: #424242;
    margin-left: 25px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
  }
  .logo {
    display: none;
  }
  .logo-mobile {
    font-size: 25px;
    font-family: "Cormorant";
    color: rgb(179, 173, 173);
    left: 0;
    white-space: nowrap;
    font-weight: 600;
  }
  .header-nav {
    display: none;
  }
  .header-list {
    display: flex;
    justify-content: space-between;
  }
  .home {
    padding-top: 165px;
    padding-bottom: 165px;
  }
}
@media (max-width: 755px) {
  .container {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }
  .home {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .about {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .about-content {
    display: flex;
    justify-content: space-between;
    color: #d9d9d9;
  }
  .about-text {
    padding-top: 50px;
  }
  .about-title {
    font-size: 30px;
    margin-bottom: 35px;
  }
  .about-me-text {
    max-width: 400px;
    font-family: "Cormorant", serif;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .about-btn {
    display: flex;
  }

  .about-photo {
    margin-top: 50px;
    margin-right: unset;
  }
  .photo {
    left: 0;
    width: 300px;
    /* height: 450px; */
    border-radius: 10px;
    filter: grayscale(1);
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #d9d9d9;
  }
  .footer-content {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
  }
  .footer-text {
    margin-bottom: 20px;
    text-align: center;
    width: unset;
  }

  .footer-link-text {
    margin-bottom: 30px;
    text-align: center;
    color: #424242;
  }
  .footer-link {
    display: flex;
    justify-content: space-between;
  }
  .footer-link a + a {
    margin-left: 30px;
  }
  .link {
    width: 40px;
  }
}
@media (max-width: 699px) {
  .container {
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: 599px) {
  .container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .about {
     /* background-image: url(/img/photo_1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain; 
/* z-index: 1;
position: relative; */
     /* filter: grayscale(1);  */
  }
  #wrapper {
    position: absolute;
    overflow: hidden;
    z-index: -1;
  }
  .about-content {
    display: flex;
    justify-content: space-between;
    color: #000;
  }
  .about-text {
    color: rgb(255, 250, 250);
    padding-top: 50px;
  }
  .about-title {
    text-align: center;
    font-size: 30px;
  }
  .about-me-text {
    text-align: center;
  }
  .about-btn{
    justify-content: center;
  }
  .about-photo {
    display: none;
  }
  /* .mobile-photo {
    display: inline;
    width: 100%;
    height: 80%;
    left: 0;
    right: 0;
    opacity: 0.6;
    filter: grayscale(1);
  } */
}

@media (max-width: 470px) {
  .container {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
  .works {
    padding-top: 50px;
    padding-bottom: 40px;

  }
  .works-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
  }
  .web-text {
    font-size: 25px;
  }
  .website-1,
  .website-3 {
    height: 120px;
    margin-bottom: 40px;
  }
  .works-website-title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: unset;
    padding-top: 40px;
  }
  .website-2,
  .website-4 {
    height: 120px;
}
}

@media (max-width: 400px) {
  .works-website-title {
    font-size: 19px;
  }
}