.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
.logo {
  /* position: fixed;
  /* opacity: 0, 33; */
  font-size: 20px;
  font-family: "Cormorant";
  color: rgb(179, 173, 173);
  /* z-index: 1; */
  left: 0;
  white-space: nowrap;
  /* word-spacing: 0.5em; */
  font-weight: 600;
}

.header-nav {
  font-size: 20px;
  color: rgb(179, 173, 173);
  font-weight: 700;
}
.header-list {
  display: flex;
  justify-content: space-between;
}
.header-list a {
  background-image: linear-gradient(
    to right,
    #612757,
    #612757 50%,
    rgb(179, 173, 173) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.header-list a:before {
  content: "";
  background: #612757;
  color: rgb(179, 173, 173);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.header-list a:hover {
  background-position: 0;
}
.header-list a:hover::before {
  width: 100%;
}
.header-list li + li {
  margin-left: 40px;
}

.home {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #000;
  border-bottom: 1px solid #fff;
}
.home-content {
  text-align: center;
}
.home-subtitle {
  font-family: "Cinzel";
  font-size: 30px;
  font-weight: 700;
  color: #615b62;
  margin-bottom: 10px;
}
.home-title {
  font-family: "Cinzel";
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}
.home-port {
  font-family: "Cinzel";
  font-size: 30px;
  font-weight: 700;
  color: #615b62;
}
.works {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #000;
  border-top: 1px solid #fff;
}
.works-title {
  color: #fff;
  font-family: "Cinzel";
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}
.web-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
  font-family: "Cinzel";
  font-weight: 700;
  font-size: 25px;
}
.web-text li {
  width: 40%;
}
.web-text li a:hover {
  box-shadow: 0 10px 15px #ffffff2e;
}

.website-1, .website-3 {
  display: block;
  width: 100%;
  height: 250px;
  background: #1c1b1b;
  border-radius: 20px;
  margin-bottom: 40px;
  transition: .3s all;
}
.works-website-title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 100px;
}
.website-2, .website-4 {
  display: block;
  width: 100%;
  height: 250px;
  background: #1c1b1b;
  border-radius: 20px;
  transition: .3s all;
}
.about {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #000;
}
.about-content {
  display: flex;
  justify-content: space-between;
  color: #d9d9d9;
}
.about-text {
  color: #d9d9d9;
  display: flex;
  justify-content: space-between;
}
.about-title {
  font-family: "Cinzel";
  font-style: italic;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 50px;
}
.about-me-text {
  width: 600px;
  font-family: "Cormorant", serif;
  font-size: 25px;
  margin-bottom: 20px;
}

.about-btn {
  display: flex;
}

.about-btn .btn {
  padding: 15px 40px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  margin-top: 1rem;
}
.about-btn .btn:hover {
  background-color: white;
  color: black;
  transition: 1s ease;
}
.about-btn .btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 70px;
  background: transparent;
  height: 50%;
  width: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(8px);
  transition: 1s ease;
}
.btn:hover::before {
  background: white;
  top: 45px;
}
.about-photo {
  margin-right: 100px;
}
.photo {
  left: 0;
  width: 300px;
  /* height: 450px; */
  border-radius: 10px;
  filter: grayscale(1);
}

.footer {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #d9d9d9;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  font-family: "Cormorant", serif;
  font-size: 25px;
  font-weight: 600;
}
.footer-text {
  color: #424242;
  width: 300px;
}
.work-mail {
  border-bottom: 3px solid #612757;
  color: #612757;
}
.work-mail:hover {
  color: #612757;
}
.footer-soc {
}
.footer-link-text {
  margin-bottom: 50px;
  color: #424242;
}
.footer-link {
  display: flex;
  justify-content: space-between;
}
.footer-link a + a {
  margin-left: 40px;
}
.link {
  width: 50px;
}
